.container{
    border: 1px solid #dee2e6;
    border-radius: 9px;
    position: relative;
    top: 132px;
    padding: 30px;
    margin: auto;
    width: 60%;
    height: 300px;

    button{
        float: right;
        width:100px;
    }
}